@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --color-texto: #ff5594;
    --color-sombras: #ffc1d3;
    --color-botones: rgba(255, 255, 255, 0.603);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "menu"
        "seccion"
        "contacto"
    ;
    grid-template-columns: 100%;
    grid-template-rows: 15% 80% 5%;
}

#fondo {
    position: fixed; /* Fija el fondo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.9);
    background-image: url('../images/Fondo.jpeg'); /* Cambia por la ruta de tu imagen */
    background-size: cover; /* Cubre toda el área sin distorsionar */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
}

a {
    text-decoration: none;
    color: black;
}

.menu-hamburguesa{
    display: none;
}

.menu {
    display: grid;
    grid-area: menu;
    grid-template-areas:
        "contenedor-logo"
        "menu-botones"
    ;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    align-items: center;
}

#contenedor-logo{
    height: 100%;
    width: 100%;
    grid-area: contenedor-logo;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 90%;
    width: 20%;
}

.menu-botones{
    height: 100%;
    width: 100%;
    grid-area: menu-botones;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    font-family: "Inknut Antiqua", serif;
    font-size: 15px;
    background-color: var(--color-sombras);
}

.botones-menu {
    margin-left: 4%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.botones-menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--color-texto);
    transition: width 0.3s ease, left 0.3s ease;
    margin-bottom: 5px;
}

.botones-menu:hover {
    color: var(--color-texto);
}

.botones-menu:hover::after {
    width: 100%;
    left: 0;
}

.seccion {
    grid-area: seccion;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.informacion-negocio {
    height: 60%;
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 3%;
}

strong{
    color: var(--color-texto);
    font-weight: bold;
}

.boton-informacion {
    box-shadow: 0px 4px 10px #ffc1d3;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-botones);
    opacity: 0.9;
    border-radius: 100px;
    font-family: "Inknut Antiqua", serif;
    font-size: 18px;
    transition: transform 0.3s ease;
}

#frase-whatsapp{
    margin-left: 5px;
}

.icono-informacion {
    height: 50px;
    width: 50px;
    margin-left: 6%;
}

#icono-whatsapp{
    margin-left: 7%;
}

.boton-informacion:hover {
    transform: scale(1.1);
    background-color: var(--color-sombras);
}

#siguenos-index {
    font-family: "Inknut Antiqua", serif;
    font-size: 15px;
    font-weight: bold;
}

.redes-sociales {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    gap: 50px;
}

.icono-red{
    height: 65px;
    width: 85px;
}

.redes-sociales{
    transition: transform 0.3s ease;
}

.redes-sociales img:hover{
    animation: palpito 0.6s ease infinite;
}

@keyframes palpito {
    0%, 100% {
      transform: scale(1); /* Tamaño normal */
    }
    50% {
      transform: scale(1.1); /* Agranda al 10% en el medio del ciclo */
    }
  }

#boton-tiktok img:hover{
    content: url("../images/icono-tiktok-hover.png");
}

#boton-facebook img:hover{
    content: url("../images/icono-facebook-hover.png");
}

#boton-instagram img:hover{
    content: url("../images/icono-instagram-hover.png");
}

/*Vista tablet*/
@media (max-width: 768px) {
    body {
        grid-template-areas:
            "menu"
            "seccion"
            "contacto"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 10% 85% 5%;
    }

    .menu {
        display: grid;
        grid-area: menu;
        grid-template-areas:
            "menu-botones contenedor-logo"
            
        ;
        grid-template-columns: 15% 85%;
        grid-template-rows: 100%;
        align-items: center;
    }

    #contenedor-logo{
        height: 100%;
        width: 100%;
        grid-area: contenedor-logo;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu-botones {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--color-sombras);
        padding: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        z-index: 1000;
    }
    
    .menu-hamburguesa {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: white;
        justify-content: center;
        align-items: center;
    }
    
    .icono-menu{
        height: 100%;
        width: 80%;
    }

    .menu-botones-desplegado {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        gap: 15px;
        position: absolute;
        top: 50px; 
        background-color: var(--color-sombras);
        width: 250px; 
        max-height: 50%; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        border-radius: 8px; 
        z-index: 1000;
        transition: all 0.3s ease-in-out; 
    }
    
    .menu-botones-desplegado a {
        font-size: 18px; 
        text-decoration: none;
    }

    .logo{
      width: 40%;
    }

    .informacion-negocio {
        height: 60%;
        width: 50%;
        gap: 10px;
        margin-top: 5%;
       
    }

    .boton-informacion{
        font-size: 12px;
    }

    .redes-sociales{
        height: 60%;
        width: 60%;;
    }

    .icono-red{
        height: 50%;
        width: 100%;
    }

}


/*Vista celular*/
@media (max-width: 480px) {

    .menu-hamburguesa {
        gap: 0px;
    }
    
    .icono-menu{
        height: 80%;
        width: 80%;
    }

    
    .menu-botones-desplegado {
        gap: 15px;
        position: absolute;
        background-color: var(--color-sombras);
        width: 200px; 
        max-height: 30%; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
        border-radius: 8px; 
        z-index: 1000;
        transition: all 0.3s ease-in-out; 
    }
    
    .menu-botones-desplegado a {
        font-size: 12px; 
        text-decoration: none;
    }

    .logo{
      width: 60%;
    }

    .informacion-negocio {
        height: 55%;
        width: 75%;
        gap: 10px;
        margin-top: 10%;
    }

    .boton-informacion{
        font-size: 12px;
    }

    
}